.message-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 399;
  box-shadow: var(--shadow-card);
  border-radius: 50%;

  .avatar {
    width: 80px;
    height: 80px;
    border: 1px solid var(--primary);
  }
}